<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="../static/js/echarts.min.js" ></script>
	</head>
	<body>
<!--	echarts图表需要固定宽高才能显示-->
		<div id="main" style="width: 600px; height: 800px;"></div>
		<script>
			var ectest = echarts.init(document.getElementById("main"))
			var option = {
					xAxis: {
				    	type: 'category',
				    	data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
				  	},
				  		yAxis: {
				    	type: 'value'
				  	},
				  	series: [
				    {
				      	data: [150, 230, 224, 218, 135, 147, 260],
				   type: 'line'
				    }
				  ]
				};
				ectest.setOption(option);
		</script>
	</body>
</html>
